.a{
	height: 300px;
	width: 600px;
	border: 5px solid red;

}
.b{
	height: 150px;
	width: 100px;
	border: 5px solid green;
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	float: left;
	background: lightgrey;
}
.c{
	border-radius: 100%;
	border: 5px solid red;
	height: 150px;
	width: 150px;
	margin-left: 50px;
	float: left;
	margin-top: 50px;
	background: lightgrey;
}
p{
	padding-top: 50px;
}
.d{
	
	border: 5px solid red;
	height: 150px;
	width: 150px;
	margin-right: 50px;
	float: right;
	margin-top: 50px;
	background: lightgrey;
	border-radius: 10px;
}