.a{
	height: 500px;
	width: 250px;
	background: blue;
	float: left;
}
.b{
	height: 500px;
	width: 250px;
	background: red;
	float: left;
}
.c{
	height: 500px;
	width: 250px;
	background:yellow;
	float: left;
	
}
.d{
	height: 500px;
	width: 250px;
	background: orange;
	float: left;
}
.h{
	height: 1000px;
	width:250 ;
	background: white;
	float: left;
}